#container {
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    min-height: 500px;
    border-width: 1px;
    border-style: solid;
    padding: 3px;
    float:left;
}
#dev-tools {
    margin-left: 100px;
    float:left;
}
#app-title {
    text-align: center;
}
#round-title {
    text-align: center;
}
#container hr {
    margin: 9px 0;
}
#loading-div {
    text-align: center;
}
.center {
    text-align: center;
}
.resistance {
    color:#22bbff;
}
.spy {
    color: red;
}

/* Start Round */
.start-round-button {
    margin-top: 10px;
}
#start-round .player-ready {
    color: #080;
    font-weight: bold;
}

/* Game Round */
#game-round-identity div {
    text-align: center;
}

#game-round .missionListHeader {
    text-align: center;
    font-size: 150%;
    font-weight:bold;
    text-decoration: underline;
    margin-top: 15px;
}

#game-round .missionList {
    margin: 0;
    padding: 0;
    text-align: center;
}

#game-round .missionList .player {
    border: 1px solid #CCC;
    background: #F6F6F6 url(images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x;
    color: #B818C8;
    font-weight: bold;
    list-style-type: none;
    margin: 5px 50px;
    padding: 2px 50px;
}
